@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Hiba történt.
    <a href="." class="reload">Újratöltés</a>
    <span class="dismiss">🗙</span>
</div>
