<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            Újracsatlakozás a szerverhez...
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            Sikertelen kapcsolódás... próbálkozás <span id="components-seconds-to-next-attempt"></span> másodperc múlva.
        </p>
        <p class="components-reconnect-failed-visible">
            Nem sikerült az újracsatlakozás.<br />Próbálja újra vagy frissítse az oldalt.
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            Újra
        </button>
        <p class="components-pause-visible">
            A munkamenetet a szerver felfüggesztette.
        </p>
        <p class="components-resume-failed-visible">
            Nem sikerült a folytatás.<br />Próbálja újra vagy frissítse az oldalt.
        </p>
        <button id="components-resume-button" class="components-pause-visible components-resume-failed-visible">
            Folytatás
        </button>
    </div>
</dialog>
